.contacts {
  	display: flex;
	flex-direction: row;
	// justify-content: space-between;
	height: 30vh;
	z-index: 1;
	font-family: Futura;
	font-weight: normal;
	justify-content: center; /* Горизонтальное выравнивание */
	align-items: center;

	&_title {
		width: 2vw;
		height: 2vw;
	}

	&_titlet {
		font-weight: bold;
		font-size: 3vh;
	}

	&_img {
		display: block;
		aspect-ratio: 3/2;
		border-radius: 50%;
		flex-shrink: 5;
		width: 20%;
		margin-right: 5vw;
	}

	&_info {
		display: grid;
		gap: 20px;
		grid-template-columns: 50px auto;
		align-items: center;
		// width: 60%;
		padding-left: 5vw;
	}

	&_telegram {
		width: 2vw;
		height: 2vw;
		background-image: url(/CV/img/telegram_black.png);
		background-size: contain;
		transition: all 1s;
	}

	&_telegram:hover {
		background-image: url(/CV/img/telegram_color.png);
		// transition: 1s
	}
	&_email {
		width: 2vw;
		height: 2vw;
		background-image: url(/CV/img/email_black.png);
		background-size: cover;
		transition: all 1s;
	}

	&_email:hover {
		background-image: url(/CV/img/email_color.png);
		// transition: 1s
	}

	&_phone {
		width: 2vw;
		height: 2vw;
		background-image: url(/CV/img/phone_black.png);
		background-size: cover;
		transition: all 1s;
	}

	&_phone:hover {
		background-image: url(/CV/img/phone_color.png);
		// transition: 1s;
	}
}
