@media (max-width: 900px) {
	.header {
		width: 100%;

		&_title {
			font-size: 8vw;
			margin: auto;
		}
	}

	.contacts {
		flex-direction: column;
		height: auto;

		&_img {
			margin: auto;
			width: 50vw;
		}

		&_telegram, &_email, &_phone {
			width: 35px;
			height: 35px;
		}

		&_info {
			justify-content: space-around;
		}
	}

		.header_nav {
		  display: none;
		}

		.wrapper {
			width: 100vw;
		}

		.tabs {
			width: 100vw;
			flex-direction: column;
		}

		.block {
			width:85vw;
		}
}